body {
    width: 100%;
    background-color: rgb(122, 193, 255);
}

nav {}

main {
    width: 100%;
}

section {
    color:aqua;
}

table {
    background-color: rgba(0, 0, 0, 50%);
    padding: 2%;
    border-radius: 5%;
}

tr {
    background-color: rgba(0, 0, 0, 80%);
}

th, td {
    padding: 10px;
}