body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #888888;
    background-color: #EECC99;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

button {
    color: white;
    background-color: #FFBB77;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

button:hover {
    background-color: #EEAA66;
}

button:active {
    border: 2px solid #888888;
}

main>* {
    margin: 8px;
}

table {
    background-color: slategray;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}
tr {
    background-color: rgb(214, 255, 255);
}

th {
    color: #555555;
}

th, td {
    margin: 0;
    padding: 10px;
}