<main>
    <div>
        <div>
            <h2>About Me</h2>
            <p>My name is Calvin Post. I grew up West Michigan (Grand Rapids and surrounding areas), but I currently
                reside
                in Muncie, Indiana. I enjoy playing video games, card games, and board games.</p>
            <br>
            <p>I started off in coding when I was pretty young. In fact, HTML was my first language, which I learned
                by
                dissecting the code and learning how the elements and attributes affect the layout of the page. I am
                always
                fascinated by how things work, especially when it comes to programming.</p>
            </div>
        <div><img src="../../assets/images/me.jpg" /></div>
    </div>
</main>